<div class="card">
  <div class="comment__single">
    <div class="comment__vote">
      <div>+</div>
      <div>12</div>
      <div>-</div>
    </div>
    <div class="comment__details">
      <div class="commenter__details">
        <div id="name">
          <span class=""
            ><img src="assets/images/avatars/leiaskywalker.png"
          /></span>
          <span>namfgsdfgsf fgsdfge</span>
          <span class="comment__time">2 months ago</span>
        </div>

        <div class="reply"><fa-icon [icon]="faReply"></fa-icon> Reply</div>
      </div>
      <div class="">
        [webpack-dev-server] Server started: Hot Module Replacement disabled,
        Live Reloading enabled, Progress disabled, Overlay enabled.
        core.mjs:24834 Angular is running in development mode. Call
        enableProdMode() to enable production mode. [webpack-dev-server] Server
        started: Hot Module Replacement disabled, Live Reloading enabled,
        Progress disabled, Overlay enabled. core.mjs:24834 Angular is running in
        development mode. Call enableProdMode() to enable production mode.
      </div>
    </div>
  </div>
</div>
<!-- 
  flex-desktop = comment__main
  comment-rate-flex-column = comment_rate_column
  comment-rate = comment_rate 
    user-info to commenter
    user-logo to commenter_img
    user-name = commenter_name
    you-card = login__user
    comment-date = commented_date
    comment-edit-reply = edit_comment_reply
    comment-edit-delete = edit_delete_comment
    comment-edit-edit = edit__coment
    comment-edit = edit_comment
    hide = close    
    comment-message = comment__para
    comment-info = comment_in
    comment-rate = comment_rate
    show-flex = flex__comment
    show = open
    flex-column = edit_column_comment
    edit_text = text_area
    update-btn = edit_btn


    add-comment = comment_add
    author-logo = writer_img
    send-info = info
 -->
